:root{
    --normal-radius: 5px;
}

body{
    background: url(./src/foggy-mountains.jpeg);
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;

    height: 800px;
    width: 100%;
}

.card{
    color: rgb(80, 80, 80);
    background: rgb(0,0,0,0);
    border-radius: 7px;
    height: 70%;
    width: 50%;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 8px 20px 0 rgba(0, 0, 0, 0.19);
    position: relative;    
}

.card h1, h3, p{
    /* font-family: ‘cwTeXYen’, sans-serif; */
    font-family: 'Noto Sans TC', sans-serif;
    margin-left: 20px;
    margin-right: 20px;
}

.block{
    color: white;
    font-size: 16pt;
    background: rgba(0,0,0, 0.3);
    border-radius: var(--normal-radius);
    padding: 10px;
}

.btns{
    position: absolute;
    bottom: 10px;
    width: 100%;
}

.btn-container{
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
}

#next-btn, #pre-btn{
    width: 50%;
    height: 30px;
    color: white;
    background: rgb(0,0,0,0);
    outline: none;
    border: none;
    border-radius: var(--normal-radius);
}

#next-btn:hover, #pre-btn:hover{
    background: rgb(0,0,0,0.1);
    transition: 1s;
}


#testp{
    color: yellowgreen;
    transition: 1s;
}


.component-fade-enter-active, .component-fade-leave-active {
    transition: opacity .3s ease;
  }
  .component-fade-enter, .component-fade-leave-to
  /* .component-fade-leave-active for below version 2.1.8 */ {
    opacity: 0;
  }