:root{
    --normal-radius: 5px;
    --normal-font: 'Noto Sans TC', sans-serif;
}

body{
    background: url(./src/foggy-mountains.jpeg);
    background-size: cover;                 
    background-repeat:   no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;

    height: 80vh;
    width: 100%;
}

.card{
    color: rgb(80, 80, 80);
    background: rgb(0,0,0,0);
    border-radius: 7px;
    height: 80%;
    width: 80%;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 8px 20px 0 rgba(0, 0, 0, 0.19);
    position: relative;    
}

.card h1, h2, h3, p{
    /* font-family: ‘cwTeXYen’, sans-serif; */
    font-family: var(--normal-font);
    margin-left: 20px;
    margin-right: 20px;
}

.block{
    color: white;
    font-size: 16pt;
    background: rgba(0,0,0, 0.3);
    border-radius: var(--normal-radius);
    padding: 10px;
}

.btns{
    position: absolute;
    bottom: 10px;
    width: 100%;
}

.btn-container{
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
}

#next-btn, #pre-btn, #gen-btn{
    font-family: var(--normal-font);
    width: 50%;
    height: 30px;
    color: white;
    background: rgba(0,0,0,0);
    outline: none;
    border: none;
    border-radius: var(--normal-radius);
    transition: 1s;
}

#next-btn:hover, #pre-btn:hover{
    background: rgba(0,0,0,0.1);
    transition: 1s;
    /* color: rgb(50, 205, 166); */
}

#gen-btn{
    color: white;
    background: rgba(0,0,0,0.1);
    transition: 1s;
}

#gen-btn:hover{
    color: rgb(80, 80, 80);
    background: rgba(69, 226, 213, 0.664);
    transition: 1s;
}

#gen-btn-container{
    display: flex;
    justify-content: center;
}

#token-show{
    display: flex;
    justify-content: center;
}

.component-fade-enter-active, .component-fade-leave-active {
    transition: opacity .3s ease;
  }
  .component-fade-enter, .component-fade-leave-to
  /* .component-fade-leave-active for below version 2.1.8 */ {
    opacity: 0;
  }


  