:root{
    --normal-radius: 5px;
}

body{
    background: url(./foggy-mountains.jpeg);
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;

    height: 800px;
    width: 100%;
}

.card{
    color: rgb(80, 80, 80);
    background: rgb(0,0,0,0);
    border-radius: 7px;
    height: 70%;
    width: 50%;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 8px 20px 0 rgba(0, 0, 0, 0.19);
    position: relative;    
}

.card h1, p{
    /* font-family: ‘cwTeXYen’, sans-serif; */
    font-family: 'Noto Sans TC', sans-serif;
    margin-left: 20px;
    margin-right: 20px;
}

.block{
    color: white;
    font-size: 16pt;
    background: rgba(0,0,0, 0.3);
    border-radius: var(--normal-radius);
    padding: 10px;
}

.btns{
    position: absolute;
    bottom: 10px;
    width: 100%;
}

.btn-container{
    display: flex;
    justify-content: center;
}


#next-btn{
    width: 50%;
    height: 30px;
    background: rgb(0,0,0,0);
    border: none;
    border-radius: var(--normal-radius);
}

#next-btn:hover{
    background: rgb(0,0,0,0.1);
    transition: 1s;
}
