<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=01.0">
	<title>SHELTER ZONE | CheckZone 🚧邊境檢查 - Index</title>
    <link rel="stylesheet" href="./css/style.css">
    <script
        src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
        crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="func.js"></script>
</head>
<body>
    <div class="container" id="app">
        <div class="card">
            <div class="card-title">
                <h1>SHELTER ZONE | CheckZone 🚧邊境檢查</h1>
            </div>
            
            <!-- Dynamic Component -->
            <transition name="component-fade" mode="out-in">
                <component v-bind:is='show' timer=10></component>
            </transition>
            
            <div class="btns">
                <div class="btn-container">
                    <button id="pre-btn" @click="pre_contain">PRE</button>
                    <button id="next-btn" v-if="cooldown" @click="next_contain">NEXT</button>
                    <button id="timer-btn" v-if="!cooldown">{{ btn_text }}</button>
                </div>
            </div>
        </div>
</body>
</html>